/*========================== styles added to body ============================*/
  body {
  display: block;
  margin: 8px;
  background-color: #bdbdbdff;
  color: white;
}
/* ============================ End Body Styling ============================ */

/* =================== overall container for all page items ================= */
.container {
  display: flex;
  flex-direction: column;
  align-content: center;
}
/* ========================= End Container Styling ========================== */

/* ===================== coding for logo and searchbar ====================== */
.header {
  text-align: center;
}

.logo {
  width: 50%;
  margin:0 20px;
  text-align: center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


                  /* =========== Search Bar Styling ========== */
.search-wrapper {
  width: 300px;
  margin: 50px 50px;
  background-color: #888888ff;
  border-radius: 5px;
  align-self: center;
}

.search-bar {
  width: 300px;
  background-color: transparent;
  display: flex;
  position: center;
  justify-content: space-between;
}

.magnifier {
  width: 1rem;
  background-color: none;
  margin: 3px;
}

.search-wrapper>input {
  border: none;
  width: 100%;
  cursor: pointer;
  outline: 0;
  margin: 10px;
  background-color: none;
}

#search {
  outline: 0;
  background-color: transparent;
  border:none;
  width: 100%;
}

#search::placeholder {
  background-color: #888888ff;
  color: black;
  border: none;
  text-align: center;
  font-family: cursive;
  font-size: 1.3rem;
}

 #search, .search-wrapper:hover, #search, .search-wrapper:focus {
    padding: 5px;
    outline: none;
    border-radius: 10px;
    transition: 1s;
    text-align: center;
    font-family: cursive;
    font-size: 1.3rem;
    background-color: #888888ff;
  }

 .search-wrapper:active, {
      border: none;
      outline: 0;
      padding: 5px;
      border-radius: 10px;
      transition: 1s;
      background-color: #888888ff;
    }

  input#search:active, {
    border: none;
    outline: 0;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    background-color: #888888ff;
  }

                  /* ======= End Search Bar Styling ======= */

/* ====================== End Logo/ Searchbar Styling ======================= */


/* ============================ Divider Styling ============================= */
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0), rgba(255, 255, 255, 1.0), rgba(0, 0, 0, 0.0));
}

/* ========================== End Divider Styling =========================== */

/* ========================= Unordered List Styling ========================= */
.characters-list {
  display: flex;
  width:inherit;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  padding: 0;
}

 .characters-list>li {
   display: flex;
   justify-content: center;
   margin:30px 30px;
   /* position: center; */
   width: 350px;
   height: 400px;
   overflow: hidden;
   display: -webkit-inline-box;
   display: -ms-inline-flexbox;
   display: inline-flex;
   /* list-style-type: none; */
   cursor: pointer;
   z-index: 10;
}
.pokemon_Button {
  display: flex;
  width: 300px;
  height: 340px;
  border: none;
  border-radius: 30px;
  background: radial-gradient(circle at 50% 45%, #39a0ffff 45%, #fff 45%);
  /* padding: 16px 32px; */
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  /* margin: 50px 20px; */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 3px 5px rgba(141, 141, 141, 0.9), 0 1px 2px rgba(141, 141, 141, 0.9);

}

.pokemon_Button img {
    align-self: center;
    width: 50%;
    height: 50%;
    left: 0;
    right: 0;
    z-index: 20;
    pointer-events: none;
    margin-top: 40px;

}

.pokemon_Button span {
    color: #fff;
    font-size: 25px;
    font-family: fantasy;
    width: 200px;
    border-radius: 0 10px 0 10px;
    background-color: #39a0ffff;
    margin-bottom: 10px;
    margin-top: auto;
    pointer-events: none;
}

.pokemon_Button p {
    color: #fff;
    font-size: 15px;
    font-family: fantasy;
    width: 70px;
    border-radius: 0 10px 0 10px;
    background-color: #39a0ffff;
    margin-left: 200px;
    justify-content: flex-end;
    margin-top: 5px;
    pointer-events: none;
}
/* ========================== End Divider styling =========================== */

/* ==================== Screen Size Adjustment styling ====================== */
@media all and (max-width: 1100px) {
  .container, .content-wrapper, .header {
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 20px;
    margin-right: 20px;
	}
}


@media all and (max-width: 1100px) and (min-width: 940px) {
	 .container, .content-wrapper, .header  {
     flex-grow: 1;
     flex-shrink: 1;
    margin-left: 20px;
    margin-right: 20px;
	}
}



@media all and (max-width: 940px) and (min-width: 600px) {
	 .container, .content-wrapper, .header {
     flex-grow: 1;
     flex-shrink: 1;
     margin-left: 20px;
     margin-right: 20px;
	}
}


@media all and (max-width: 600px) {
	 .container, .content-wrapper, .header, .characters-list {
     flex-grow: 1;
     flex-shrink: 1;
     margin-left: 20px;
     margin-right: 20px;
	}
}


/* ================== End Screen Size Adjustment styling ==================== */

/* ========================= Styling Loader object ========================== */
  #modal {
     display: none;
     position: center;
     margin: auto;
     margin-top: 50px;
     width: 90px;
     height: 90px;
     padding:0px 0px 0px;
     /* border: 3px solid #ababab; */
     /* box-shadow:1px 1px 10px #ababab; */
      border-radius:50px;
     /* background-color: none; */
     z-index: 20;
     text-align:center;
     overflow: auto;
  }

  #loader {
    margin-right: 10px;
    margin-bottom: 5px;
    width:90px;
    height: 90px;
    background-color: none;
    border: none;
  }

  /* =======================End Styling Loader object ======================= */

  .modal-confirm {
    cursor: pointer;
  }

  .modal-cancel {
    cursor: pointer;
  }

  #Character-modal {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;

    cursor: pointer; /* add cursor here or in iv-visible */

    /* to show it above other content */
    z-index: 40;

    /* to allow scrolling if the screen is not high enough*/
    overflow: auto;
  }

  .modal {
    /* this is used to center the modal */
    justify-content: center;
    margin: auto;
    border-radius: 100px;
    box-shadow: 0 3px 5px rgb(255 255 255 / 100%), 0 1px 2px rgb(255 255 255 / 100%);
    box-sizing: border-box;
    padding: 15px;
    width: 600px;
    height: 800px;

    cursor: default; /* remove cursor if you include the modal in the hideModal function */
  }

  .name {
    font-size: 100px;
    text-align: center;
    align-content: center;
    margin-top: 10px;
    color: black;
    font-family: fantasy;
  }

  .modal img {
    width: 300px;
    height: 300px;
    text-align: center;
    align-content: center;
    margin-top: -10px;
    margin-bottom: 20px;
  }

  .attributes {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 550px;
    margin: auto;
    margin-top: 0px;
    box-sizing: border-box;
    padding: 15px;
    cursor: default; /* remove cursor if you include the modal in the hideModal function */

  }

  .Types {
    border-radius: 0 30px 0 30px;
    display: flex;
    flex-direction: column;
    width:40%;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    font-family: fantasy;
     margin-top: 0;
     color: black;
   }

    .pokemonType1 {
      border-radius: 0;
      background-color: none;
      text-align: center;
      font-size: 20px;
       margin-top: 0;
       color: black;
     }


 .height {
   border-radius: 30px 0px 30px 0px;
   background-color: rgba(255,255,255,1);
   display: flex;
   flex-direction: column;
   align-content: flex-start;
   width:40%;
   padding-top: 20px;
   font-size: 30px;
   font-family: fantasy;
    margin-top: 0;
    color: black;
  }

  .pokeHeight {
    text-align: center;
    font-size: 20px;
    margin-top: 0;
    color: black;
   }

 .weight {
   border-radius: 0px 30px 0px 30px;
   display: flex;
   flex-direction: column;
   align-content: flex-start;
   width:40%;
   padding-top: 20px;
   font-size: 30px;
   font-family: fantasy;
   margin-top: 70px;
   color: black;
  }

  .pokeWeight {
    text-align: center;
    font-size: 20px;
    margin-top: 0;
    color: black;
   }

 .stats {
   border-radius: 30px 0px 30px 0px;
   display: flex;
   flex-direction: column;
   align-content: flex-start;
   width:40%;
   padding-top: 20px;
   font-size: 30px;
   font-family: fantasy;
   margin-top: 70px;
   color: black;
  }

  .PokemonHit {
    text-align: center;
    font-size: 20px;
    margin-top: 0;
    color: black;
  }



  #Character-modal {
    display: none;
  }

  #Character-modal.is-visible {
    /* CSS for modal container - add your own desired CSS styles here */
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); */
    cursor: pointer; /* add cursor here or in iv-visible */

    /* to show it above other content */
    z-index: 900;

    /* to allow scrolling if the screen is not high enough*/
    overflow: auto;

    /* this is used to center the modal */
    display: grid;
    text-align: center;
    /* cursor: pointer; */ /* add cursor here or in container */
  }
