/*========================== styles added to body ============================*/
body {
  display: block;
  margin: 8px;
  background-color: #bdbdbdff;
  color: white;
}
/* ============================ End Body Styling ============================ */

/* =================== overall container for all page items ================= */
.container {
  display: flex;
  flex-direction: column;
  align-content: center;
}
/* ========================= End Container Styling ========================== */

/* ===================== coding for logo and searchbar ====================== */

.logo {
  width: 50%;
  margin: 0 20px;
  text-align: center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* =========== Search Bar Styling ========== */
.search-wrapper {
  width: 300px;
  margin: 50px 50px;
  background-color: #888888ff;
  border-radius: 5px;
  align-self: center;
}

.search-bar {
  width: 300px;
  background-color: transparent;
  display: flex;
  position: center;
  justify-content: space-between;
}

.magnifier {
  width: 1rem;
  background-color: none;
  margin: 3px;
}

.search-wrapper > input {
  border: none;
  width: 100%;
  cursor: pointer;
  outline: 0;
  margin: 20px;
  background-color: none;
}

#search {
  outline: 0;
  background-color: transparent;
  border: none;
  width: 100%;
}

#search::placeholder {
  background-color: #888888ff;
  color: black;
  border: none;
  text-align: center;
  font-family: 'Splash', cursive;
  font-size: 1.3rem;
}

#search,
.search-wrapper:hover,
#search,
.search-wrapper:focus {
  padding: 5px;
  outline: none;
  border-radius: 10px;
  transition: 1s;
  text-align: center;
  font-family: 'Splash', cursive;
  font-size: 1.3rem;
  background-color: #888888ff;
}

.search-wrapper:active {
  border: none;
  outline: 0;
  padding: 5px;
  border-radius: 20px;
  transition: 1s;
  background-color: #888888ff;
}

input#search:active {
  border: none;
  outline: 0;
  padding: 5px;
  border-radius: 20px;
  transition: 1s;
  background-color: #888888ff;
}

/* ======= End Search Bar Styling ======= */

/* ====================== End Logo/ Searchbar Styling ======================= */

/* ============================ Divider Styling ============================= */
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 1),
    rgba(0, 0, 0, 0)
  );
}

/* ========================== End Divider Styling =========================== */

/* ========================= Unordered List Styling ========================= */
#characters-list {
  display: flex;
  width: inherit;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  padding: 0;
}

#characters-list > li {
  display: flex;
  justify-content: center;
  margin: 30px 30px;
  /* position: center; */
  width: 18rem;
  height: 22rem;
  overflow: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  /* list-style-type: none; */
  cursor: pointer;
  z-index: 10;
}
.button-class {
  display: flex;
  width: 18rem;
  height: 22rem;
  border: none;
  border-radius: 2.5rem;
  background: radial-gradient(circle at 50% 45%, #39a0ffff 10%, #fff 45%);
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  /* margin: 50px 20px; */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 3px 5px rgb(255 255 255 / 100%),
    0 1px 2px rgb(255 255 255 / 100%);
}

.button-class img {
  align-self: center;
  justify-content: center;
  height: 10rem;
  left: 0;
  right: 0;
  z-index: 20;
  margin: auto;
  pointer-events: none;
}

.button-class span {
  color: #fff;
  font-size: 1rem;
  font-family: 'Splash', cursive;
  width: 6rem;
  border-radius: 0 10px 0 10px;
  background-color: #39a0ffff;
  margin: auto;
  pointer-events: none;
}

.button-class p {
  align-self: flex-end;
  color: #fff;
  font-size: 0.8rem;
  font-family: 'Splash', cursive;
  width: 2rem;
  border-radius: 0 10px 0 10px;
  background-color: #39a0ffff;
  margin: 0.5rem 0 0 0.5rem;
  pointer-events: none;
}
/* ========================== End Divider styling =========================== */

/* ==================== Screen Size Adjustment styling ====================== */
@media all and (max-width: 1100px) {
  /* .container,
  .content-wrapper,
  .header,
  #exampleModal,
  .group-list-item-active { */
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: 20px;
  margin-right: 20px;
}
/* } */

@media all and (max-width: 1100px) and (min-width: 940px) {
  /* .container,
  .content-wrapper,
  .header,
  #exampleModal,
  .group-list-item-active { */
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: 20px;
  margin-right: 20px;
}
/* } */

@media all and (max-width: 940px) and (min-width: 650px) {
  /* .container,
  .content-wrapper,
  .header,
  #exampleModal,
  .group-list-item-active { */
  /* flex-grow: 1; */
  flex-shrink: 1.5;
  margin-left: 20px;
  margin-right: 20px;
}
/* } */

@media all and (max-width: 650px) {
  /* .container,
  .content-wrapper,
  .header,
  #exampleModal,
  .group-list-item-active { */
  /* flex-grow: 1; */
  flex-shrink: 2;
  margin-left: 20px;
  margin-right: 20px;
}
/* } */

/* ================== End Screen Size Adjustment styling ==================== */

/* ========================= Styling Loader object ========================== */
#loader {
  display: none;
  position: center;
  margin: auto;
  margin-top: 40px;
  width: 90px;
  height: 90px;
  padding: 0px 0px 0px;
  /* border: 3px solid #ababab; */
  /* box-shadow:1px 1px 10px #ababab; */
  border-radius: 50px;
  /* background-color: none; */
  z-index: 20;
  text-align: center;
  overflow: auto;
}

/* =======================End Styling Loader object ======================= */

.modal-confirm {
  cursor: pointer;
}

.modal-cancel {
  cursor: pointer;
}

.modal {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;

  cursor: pointer; /* add cursor here or in iv-visible */

  /* to show it above other content */
  /* z-index: 40; */

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;
}

.modal-content {
  border-radius: 100px;
  box-shadow: 0 3px 5px rgb(255 255 255 / 100%),
    0 1px 2px rgb(255 255 255 / 100%);
  box-sizing: border-box;
  padding: 15px;
  width: 25rem;
  height: 30rem;
  cursor: default; /* remove cursor if you include the modal in the hideModal function */
}

.modal-header {
  display: flex;
  margin: 0;
  border-bottom: none;
}

.modal-title > h1 {
  font-size: 3rem;
  text-align: right;
  align-items: flex-end;
  align-content: flex-end;
  margin-top: auto;
  color: black;
  font-family: 'Splash', cursive;
}

.close {
  float: right;
  text-align: right;
  font-size: 100%;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.modal-header .close {
  padding: 0rem 2rem;
  margin-top: 0px;
}

.modal-body {
  display: flex;
  flex-flow: column;
}

.modal-body > .modal-img {
  align-self: center;
}

.modal-img {
  margin-top: -70px;
}

.att1 {
  display: flex;
  margin-top: auto;
}

.att2 {
  display: flex;
  margin-top: auto;
}

.att1 > p,
.att2 > p {
  font-size: 1.2rem;
  text-align: center;
  margin-top: auto;
  color: black;
  font-family: 'Splash', cursive;
}

/* .att2 > p {
  font-size: 30px;
  text-align: center;
  margin-top: 0px;
  color: black;
  font-family: trattatello;
} */
